.footer_wrapper {
  position: relative;
  top: 140px;
}

.footer_links {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  a {
    color: gray;
    font-size: 14px;
  }

  div {
    width: 1px;
    height: 12px;
    background-color: rgba(0, 0, 0, .3);
    margin: 0 20px;
  }
}

.footer_contents {
  margin-top: 10px;
  border-top: 1px solid gray;

  p {
    font-size: 14px;
    margin: 5px 0;
  }

  .p_bold {
    
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 600;
  }
}