:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

// 각 page 컴포넌트를 위한 wrapper
.page {
  flex: 1 1 auto;
  text-align: center;
}

// page안에 있는 wrapper
.container {
  max-width: 1200px;
  margin: 0 auto;
}

// login 및 signup을 감는 wrapper
.form_container {
  height: auto;
  margin: 50px auto 100px auto;
  position: relative;
  top: 140px;
}